<!-- begin footer -->
<footer class="footer">

  <div class="footer__info">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="footer__info-box">
            <div class="copyright">{{site.time | date: '%Y'}} &copy; <a href="/">{{site.title}}</a>. Les rêves d'Angèle une maison d'hôtes en Bourgogne / Auxerre.</div>
            <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- end footer -->